.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0B0B0B;
}

.login-card {
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 450px;
    max-width: 90%;
}

.anime-list {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    scrollbar-width: none;
}

.login-module {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 100px;
    margin-bottom: 40px;
}

.login-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #0B0B0B;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #494946;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.connection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


/* Media Query pour les écrans de taille moyenne (tablette) */
@media (max-width: 768px) {
    .login-card {
        flex-direction: column; /* Change la direction de flex pour empiler les éléments verticalement */
        height: auto; /* Permet à la hauteur de s'ajuster automatiquement */
    }

    .anime-list, .login-module {
        flex: none; /* Supprime la flexibilité pour permettre aux éléments de s'empiler verticalement */
        width: 100%; /* Permet aux éléments de prendre toute la largeur */
    }
}

/* Media Query pour les petits écrans (mobile) */
@media (max-width: 480px) {
    .login-header {
        font-size: 24px; /* Réduit la taille de la police pour les petits écrans */
    }

    .logo {
        width: 80px; /* Réduit la taille du logo pour les petits écrans */
    }
}